/* Body */
body {
    background-color: #fce9d0;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'serif', 'Times New Roman';
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex; 
    justify-content: space-between;
    background-color: #43260c;
    border-bottom: 3px solid #000000;
}

header img {
    max-width: 17%;
    height: auto;
    margin-left: 5%;
}

header .divHeader {
    display: flex;
    align-items: center;
    gap: 2%;
}

header h1 {
    font-size: 110%;
    color: #fce9d0;
}

header nav {
    display: flex;
    align-items: end;
    align-items: center;
    gap: 6%;
    width: 40%;
}

header nav a {
    font: serif;
    font-size: 150%;
    color: #fce9d0;
    text-decoration: none;
}

header .divLoginButtom {
    display: flex;
    font-size: 150%;
    width: 6%;
    height: 3%;
    margin: 2.1% 0 0 0;
    background-color: #fce9d0;
    border: #ffdaaa;
    border-radius: 15px;
}
.divLoginButtom a {    
    display: flex;
    text-decoration: none;
    padding: 3% 22%;
    color: #000000;
}


header .divCadastroButtom {
    display: flex;
    text-align: center;
    font-size: 150%;
    width: 6%;
    height: 3%;
    margin: 2.1% 6% 0 0;
    background-color: #fce9d0;
    border: #ffdaaa;
    border-radius: 15px;
}

.divCadastroButtom a {
    display: flex;
    text-decoration: none;
    padding: 3% 11%;
    color: #000000;
}

/* Section */
.sectionText {
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.divSectionText {
    margin-top: 5px solid #43260c;
}


/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #43260c;
    color: #ffffff;
    padding: 10px 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 90%;
}

footer img {
    max-width: 17%;
    height: auto;
}

footer .divFooter {
    display: flex;
    align-items: center;
    gap: 2%;
}

footer h1 {
    font-size: 110%;
    color: #fce9d0;
}