body {
    background-color: #fce9d0;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'serif', 'Times New Roman';
    margin: 0;
    padding: 0;
}

header {
    display: flex; /* Alinha os intens lado a lado */
    align-items: center; /* Centraliza verticalmente */
    background-color: #43260c; /* Define a cor de fundo do header*/
    border-bottom: 3px solid #000000; /* Define a Borda entre o header e o main */
}

header img {
    max-width: 17%; /* Controla a Largura da imagem */
    height: auto; /* Controla a altura da imagem - Deixar no auto, ajusta automaticamente*/
    margin-left: 2%;
}

header .divHeader {
    display: flex;
    align-items: center;
    gap: 2%;
}

header h1 {
    font-size: 110%;
    color: #fce9d0;
}

header nav {
    display: flex;
    align-items: end;
    align-items: center;
    gap: 6%;
    width: 40%;
}

header nav a {
    font: serif;
    color: #ffff;
}