/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body */
body {
    background-color: #fce9d0;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'serif', 'Times New Roman';
    margin: 0;
    padding: 0;
}

/* MENU SIDE BAR INICIO */
/* ----- MENU FLUTUANTE ----- */
.divOptionSide {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 260px;
    height: 90vh;

    background: #43260c;
    color: #fce9d0;

    padding: 28px 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* ----- LOGO AO MEIO ----- */
.divOptionLogo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -15px;
}

.divOptionLogo img {
    width: 70%;
    height: auto;
}

/* Texto Olá, usuário */
.hello h3 {
    margin: 0;
}

/* ----- Botões ----- */
.divOptionButton {
    width: 100%;
    text-align: center;
    background-color: #fce9d0;
    color: #43260c;
    border-radius: 12px;
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.divOptionButton:hover {
    background-color: #e2d0b5;
    transform: scale(1.03);
}

.divOptionButton a {
    color: #43260c;
    text-decoration: none;
}

/* ----- Botão Sair ----- */
.divOptionLogout {
    width: 100%;
    text-align: center;
    background-color: #fce9d0;
    color: #43260c;
    border-radius: 12px;
    padding: 8px 0;
    cursor: pointer;
    margin-top: auto;  /* Desce o botão para o final */
    transition: 0.2s;
}

.divOptionLogout:hover {
    background-color: #e2d0b5;
}

.divOptionLogout h3 {
    margin: 0;
}
/* FIM HEADER/SIDEBAR */

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

/* Forúm CSS */
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos { /* Controla o bloco inteiro onde ficam formulário e mural */
  width: 100%;
  color: #43260c;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.dash-right h1 { /* Controla as cores das fontes do H1 */
  color: #43260c;
}

.dash-right label { /* Controla as cores das fontes da label */
  color: #43260c;
}

.dash-right .avisos .container { /* Centraliza e organiza verticalmente tudo dentro da área de avisos */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form { /* Controla largura */
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem { /* Estiliza o próprio form */
  width: 95%;
}

.dash-right .avisos .div-form label { /* Define largura dos labels */
  width: 95%;
}

.dash-right .avisos .div-form input { /* Deixa o input mais largo e com bordas arredondadas. */
  width: 95%;
  border: 3px solid #43260c;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea { /* Estilização completa da caixa de texto. */
  width: 95%;
  border: 3px solid #43260c;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button { /* Estilização Completa do Botão Enviar */
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #fce9d0;
  background-color: #43260c;
  width: 120px;
}
.dash-right .avisos .div-form button:hover { /* Hover do Botão Enviar */
    background-color: #381c04;
}

.publicacao-btn-editar { /* Estilização completa Botões Editar/Deletar */
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: #fce9d0;
  background-color: #43260c;
  width: 80px;
}

.publicacao { /* Caixa de publicações */
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #e2d0b5;
  border-bottom: 3px solid #43260c;
  border-radius: 5px;
  padding: 25px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #fce9d0;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}
/* FIM FÓRUM */

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #43260c;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

/* QUIZZ - QUIZZ - QUIZZ - QUIZZ - QUIZZ - QUIZZ - QUIZZ - QUIZZ */
:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

.pontuacaoEJogo {
  margin-left: 45%;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}