@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body */
body {
    background-color: #fce9d0;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'serif', 'Times New Roman';
    margin: 0;
    padding: 0;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

/* Header */
header {
    display: flex; 
    justify-content: space-between;
    background-color: #43260c;
    border-bottom: 3px solid #000000;
}

header img {
    max-width: 17%;
    height: auto;
    margin-left: 5%;
}

header .divHeader {
    display: flex;
    align-items: center;
    gap: 2%;
}

header h1 {
    font-size: 110%;
    color: #fce9d0;
}

header nav {
    display: flex;
    align-items: end;
    align-items: center;
    gap: 6%;
    width: 40%;
}

header nav a {
    font: serif;
    font-size: 150%;
    color: #fce9d0;
    text-decoration: none;
}

header .divLoginButtom {
    display: flex;
    font-size: 150%;
    width: 6%;
    height: 3%;
    margin: 2.1% 0 0 0;
    background-color: #fce9d0;
    border: #ffdaaa;
    border-radius: 15px;
}
.divLoginButtom a {    
    display: flex;
    text-decoration: none;
    padding: 3% 22%;
    color: #000000;
}


header .divCadastroButtom {
    display: flex;
    text-align: center;
    font-size: 150%;
    width: 6%;
    height: 3%;
    margin: 2.1% 6% 0 0;
    background-color: #fce9d0;
    border: #ffdaaa;
    border-radius: 15px;
}

.divCadastroButtom a {
    display: flex;
    text-decoration: none;
    padding: 3% 11%;
    color: #000000;
}

/* Section */
.sectionText {
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.divSectionText {
    margin-top: 5px solid #43260c;
}


/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #43260c;
    color: #ffffff;
    padding: 8px 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 90%;
}

footer img {
    max-width: 17%;
    height: auto;
}

footer .divFooter {
    display: flex;
    align-items: center;
    gap: 2%;
}

footer h1 {
    font-size: 110%;
    color: #fce9d0;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

/* LOGIN */

.login {
  background-color: #fce9d0;
  background-size: cover;
  background-attachment: scroll;
  font-family: 'serif', 'Times New Roman';
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}